.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

a.mat-list-item {
  border-top-style: groove;
  padding-top : 10px;
  padding-bottom : 10px;
}

a.mat-list-item.last {
  border-top-style: groove;
  border-bottom-style: groove;
  padding-top: 10px;
  padding-bottom: 10px;
}