<div class='researchHeader'>
  <h1 *ngIf="">Global Research</h1>
  <mat-button-toggle-group #group="matButtonToggleGroup" value="all" class='buttonGroup'>
    <mat-button-toggle value="search" routerLink="/">
      <mat-icon>
        search
      </mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="all" routerLink="/">
      <mat-icon>
        select_all
      </mat-icon>
    </mat-button-toggle>
    <mat-form-field class="searchInput">
    <mat-select [(value)]="selected" placeholder="Search by..." [disabled]="group.value != 'search'">
        <mat-option>None</mat-option>
        <mat-option value="name">Country name</mat-option>
        <mat-option value="capital">Country's Capital name</mat-option>
        <mat-option value="region">Region</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="searchInput">
      <input matInput [(ngModel)]="countryName" placeholder="Type your research here" *ngIf="selected == 'name' || selected === undefined" [disabled]="group.value != 'search' || selected != 'name'">
      <input matInput [(ngModel)]="capital" placeholder="Type your research here" *ngIf="selected == 'capital'" [disabled]="group.value != 'search' || selected != 'capital'">
      <input matInput [(ngModel)]="region" placeholder="Type your research here" *ngIf="selected == 'region'" [disabled]="group.value != 'search' || selected != 'region'">
    </mat-form-field>
  </mat-button-toggle-group>
  <button mat-icon-button class="refreshButton" (click)="ngOnInit()">
    <mat-icon>
      refresh
    </mat-icon>
  </button>
</div>
<div class="researchContent">
  <mat-nav-list *ngIf="router.url == '/'">
    <mat-accordion mat-list-item href="#" *ngFor="let c of countryList">
      <app-country [country]="c" *ngIf="group.value == 'all' && check(c) && c !== undefined"></app-country>
      <app-country [country]="c" *ngIf="c.name.toLowerCase().includes(countryName.toLowerCase()) 
                                        && selected == 'name' && countryName != ''
                                        && group.value =='search' && check(c) && c !== undefined" ></app-country>
      <app-country [country]="c" *ngIf="c.capital.toLowerCase().includes(capital.toLowerCase()) 
                                        && selected == 'capital' && capital != ''
                                        && group.value =='search' && check(c) && c !== undefined"></app-country>
      <app-country [country]="c" *ngIf="c.region.toLowerCase().includes(region.toLowerCase())
                                        && selected == 'region' && region != ''
                                        && group.value =='search' && check(c) && c !== undefined"></app-country>
    </mat-accordion>
  </mat-nav-list>
</div>