.buttonGroup {
  height: 100%;
  width: 80%;
  display: -moz-grid;
}

.mat-icon-button {
  margin-left: 10px;
  height: 100%;
  vertical-align: top;
  width: 10%;
  display: -moz-grid;
}

.mat-toggle-button {
  height: 100%;
  vertical-align: center;
}

.researchContent {
  margin-left: 10px;
  margin-top: 10px;
  height: 100;
  width: 100%;
}

.researchContent button {
  height: 100;
}

.searchInput {
  margin-left: 10px;
}

.researchHeader {
  margin-left: 10px;
  margin-top: 10px;
}

.researchHeader button {
  margin-left: 10px;
  margin-top: 10px;
}

